In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append('/home/jack/code/TechLah/RevuSum')
from interface.Testing import combine_and_label, basic_preprocessing_data,filter_reviews,lemm_data,test_preprocessing

In [2]:
test_file_path = '~/code/TechLah/RevuSum/data/testing_df.csv'
test_hotelreviews = pd.read_csv(test_file_path)
test_df = test_hotelreviews.copy()

In [3]:
#Preprocessing the testing dataframe\

test_df = combine_and_label(test_df)
pre_processed_test_df = basic_preprocessing_data(test_df)
lemm_test_df = lemm_data(pre_processed_test_df)

In [4]:
lemm_test_df

                                                   Review  Label
0                                             no negative      0
1                                             no negative      0
2                                             no negative      0
3                                             no negative      0
4                                               faultless      0
...                                                   ...    ...
156297   personolized and high class service ar all level      1
156298  very nice hotel have a good feel it be clean e...      1
156299                          regular visitor excellent      1
156300  fabulous hotel nothing be too much trouble the...      1
156301                         welcome staff at reception      1

[156302 rows x 2 columns]

In [5]:
#!pip install git+https://github.com/LIAAD/yake

In [6]:
import yake

In [7]:
lemm_test_df.head(2).Review

0    no negative
1    no negative
Name: Review, dtype: object

In [78]:
kw_extractor = yake.KeywordExtractor(top=5, stopwords=None, windowsSize=1,n=1)

In [79]:
# Assuming you have a DataFrame named lemm_test_df with a column 'Review'
mega_list = lemm_test_df['Review'].tolist()

In [80]:
len(mega_list)

156302

In [81]:
combined_string = ''.join(mega_list)

In [82]:
len(combined_string)

13900682

In [83]:
mega_words = kw_extractor.extract_keywords(combined_string)
mega_words

[('room', 1.4884099036932823e-08),
 ('hotel', 3.7339133176112265e-08),
 ('staff', 3.9664263791666974e-08),
 ('location', 7.734542512197191e-08),
 ('breakfast', 1.200765427131921e-07)]